<!DOCTYPE html>
<html>
  <head>
    <title>Cuentas</title>
    <link rel="shortcut icon" href="/images/favicon.ico" type="image/x-icon">
    <link rel="icon" href="/images/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="http://netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <script src="http://netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
    <!-- Viewport mobile tag for sensible mobile support -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    
    <!--
    Stylesheets and Preprocessors
    ==============================
    You can always bring in CSS files manually with `<link>` tags, or asynchronously
      using a solution like AMD (RequireJS).  Or, if you like, you can take advantage
      of Sails' conventional asset pipeline (boilerplate Gruntfile).
      By default, stylesheets from your `assets/styles` folder are included
      here automatically (between STYLES and STYLES END). Both CSS (.css) and LESS (.less)
      are supported. In production, your styles will be minified and concatenated into
      a single file.
      
      To customize any part of the built-in behavior, just edit `tasks/pipeline.js`.
      For example, here are a few things you could do:
      
      + Change the order of your CSS files
      + Import stylesheets from other directories
      + Use a different or additional preprocessor, like SASS, SCSS or Stylus
      -->
      <!--STYLES-->
      <link rel="stylesheet" href="/min/production.min.css">
      <!--STYLES END-->
      
    </head>
    <body>
      
      <nav class="navbar navbar-default " role="navigation">
        <div class="container-fluid">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
            <span class="sr-only"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand " href="/"><img src="/images/logo.png" width="40" height="30"> </a>
          </div>
          <% if(!session.authenticated){ %>
          <div class="collapse navbar-collapse navbar-ex1-collapse ">
            <ul class="nav navbar-nav navbar-right">
              <li> <a href="/session/login"  >Inciar Sesión</a></li>
            </ul>
            <%}%>
            <% if(session.authenticated){%>
            <ul class="nav navbar-nav">
              <li >
                <a href="/usuario/history">Inicio</a>
              </li>
              <%if(session.Usuario.tipo==='tipo1'){%>
              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">Gastos<strong class="caret"></strong></a>
                <ul class="dropdown-menu">
                  <li>
                    <a href="/gasto/new">Crear</a>
                  </li>
                  <li>
                    <a href="/gasto/index">Ver Todos</a>
                  </li>
                </ul>
              </li>
              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">Facturas<strong class="caret"></strong></a>
                <ul class="dropdown-menu">
                  <li>
                    <a href="/factura/new">Crear</a>
                  </li>
                  <li>
                    <a href="/factura/index">Ver Todos</a>
                  </li>
                </ul>
              </li>
              <li>
                <a href="/giro">Giros</a>
              </li>
              <%} else if(session.Usuario.tipo==='tipo2'){%>
               <li>
                <a href="/gasto">Gastos</a>
              </li>
              <li>
                <a href="/factura">Facturas</a>
              </li>
              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">Giro<strong class="caret"></strong></a>
                <ul class="dropdown-menu">
                  <li>
                    <a href="/giro/new">Crear</a>
                  </li>
                  <li>
                    <a href="/giro">Ver Todos</a>
                  </li>
                </ul>
              </li>
              <%} else if(session.Usuario.tipo==='admin'){%>
              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">Gastos<strong class="caret"></strong></a>
                <ul class="dropdown-menu">
                  <li>
                    <a href="/gasto/new">Crear</a>
                  </li>
                  <li>
                    <a href="/gasto/index">Ver Todos</a>
                  </li>
                </ul>
              </li>
              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">Facturas<strong class="caret"></strong></a>
                <ul class="dropdown-menu">
                  <li>
                    <a href="/factura/new">Crear</a>
                  </li>
                  <li>
                    <a href="/factura/index">Ver Todos</a>
                  </li>
                </ul>
              </li>
              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">Giro<strong class="caret"></strong></a>
                <ul class="dropdown-menu">
                  <li>
                    <a href="/giro/new">Crear</a>
                  </li>
                  <li>
                    <a href="/giro">Ver Todos</a>
                  </li>
                </ul>
              </li>
              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">Usuario<strong class="caret"></strong></a>
                <ul class="dropdown-menu">
                  <li>
                    <a href="/usuario/new">Crear</a>
                  </li>
                  <li>
                    <a href="/usuario/">Ver Todos</a>
                  </li>
                </ul>
              </li>
              <%}%>
            </ul>
            <div class="navbar-right">
              <ul class="nav navbar-nav navbar-right">
                <li> <a href="/session/destroy"  >Cerrar Sesión</a></li>
              </ul>
            </div>
            <%}%>
          </div>
        </div>
        
      </nav>
      <%- body %>
      
      <!--
      Client-side Templates
      ========================
      HTML templates are important prerequisites of modern, rich client applications.
      To work their magic, frameworks like Backbone, Angular, Ember, and Knockout require
      that you load these templates client-side.
      By default, your Gruntfile is configured to automatically load and precompile
      client-side JST templates in your `assets/templates` folder, then
      include them here automatically (between TEMPLATES and TEMPLATES END).
      To customize this behavior to fit your needs, just edit `tasks/pipeline.js`.
      For example, here are a few things you could do:
      + Import templates from other directories
      + Use a different template engine (handlebars, jade, dust, etc.)
      + Internationalize your client-side templates using a server-side
      stringfile before they're served.
      -->
      <!--TEMPLATES-->
      
      <!--TEMPLATES END-->
      <!--
      Client-side Javascript
      ========================
      You can always bring in JS files manually with `script` tags, or asynchronously
      on the client using a solution like AMD (RequireJS).  Or, if you like, you can
      take advantage of Sails' conventional asset pipeline (boilerplate Gruntfile).
      By default, files in your `assets/js` folder are included here
      automatically (between SCRIPTS and SCRIPTS END).  Both JavaScript (.js) and
      CoffeeScript (.coffee) are supported. In production, your scripts will be minified
      and concatenated into a single file.
      To customize any part of the built-in behavior, just edit `tasks/pipeline.js`.
      For example, here are a few things you could do:
      + Change the order of your scripts
      + Import scripts from other directories
      + Use a different preprocessor, like TypeScript
      -->
      <div id="wrapper">
        <div id="footContainer">
          <div class="container">
            <div class="row">
              <br><br>
              <div class="col-md-4">
              
                
                <img src="/images/logo2.png"  >
                
              </div>
              
              <div class="col-md-4">
                <center>
                <h3 class="h3blanco">Redes Sociales</h3>
                <a href="http://fb.com/stephysba"><img src="/images/fb.png" ></a>
                <a href="https://twitter.com/stalbeal"><img src="/images/twt.png" ></a>
                <a href="https://google.com/+StephanyB10"><img src="/images/gplus.png" ></a>
                <br><br><br><br>
                <p class="white">Powered by Stephany</p>
                </center>
              </div>
              <div class="col-md-4">
                <center>
                <h2 class="h2blanco">Contacto</h2>
                <p class="lead2"><strong>Móvil : </strong> 305 262 04 15</p>
                <p class="lead2"><strong>Correo: </strong><a href="mailto:stalbeal10@gmail.com">stalbeal10@gmail.com</a> </p>
                </center>
              </div>
              
          </div>
        </div>
      </div>
       

      
      <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
      <script src="http://netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
      <!--SCRIPTS-->
      <script src="/min/production.min.js"></script>
      <!--SCRIPTS END-->
    </body>
  </html>