

#wrapper {
    min-height: 150%;
    height: 270;
  
}



#footContainer {
  background: #3B8686;
position: relative;
  margin-top: 100px; /* negative value of footer height */
  height: 270px;
  clear:both;
  
    
    
}

@media only screen and (max-device-width: 480px) {
    #footer {
        height: 300px;
    }
}



