<br><br><br><br><br><br>
<div class="container">

<form action="/usuario/create" method="POST" class="form-signin">
		
	    <label for="user">Usuario</label>
		<input type="text" class="form-control" name="nombre" placeholder="Usuario">
	    <label for="psw">Contrase침a</label>
		<input type="password" class="form-control" name="contrase침a" placeholder="Contrase침a">
		<br>
		<button type="submit" class="btn btn-success btn-lg  pull-right" >Iniciar sesi칩n</button>
		<input type="hidden" value="<%= _csrf %>">
		<br><br>
						</form>
</div>