<br>
<br>
<br>
<br>
<div class="container">
	<div class="row clearfix">
		<div class="col-md-10 col-md-offset-1">
			<legend><h2>Detalles Usuario</h2></legend>
			<div class="jumbotron" >

			
					<div class="row">
						<div class="col-xs-2">
							<p><strong>Nombre </strong></p>
						</div>
						<div class="col-xs-10">
							<p><%=usuario.nombre%></p>
						</div>
					</div>
					<div class="row">
						<div class="col-xs-2">
							<p><strong>Usuario </strong></p>
						</div>
						<div class="col-xs-10">
						<p><%=usuario.usuario%></p>						
						</div>
					</div>
					
					<div class="row">
						<div class="col-xs-2">
							<p><strong>Tipo </strong></p>
						</div>
						<div class="col-xs-10">
							<p><%=usuario.tipo%></p>
						</div>
					</div>
					
				
			</div>
			<a href="/usuario/edit/<%=usuario.id%>" class="btn btn-success btn-lg  pull-right">Editar</a>
			<a href="/usuario/index" class="btn btn-success btn-lg  pull-right">Atrás</a>
		</div>
	</div>
</div>